
@media all and (min-width: 992px) {
  .x992{display:block;}
  .x700{display:none;}

}

@media all and (max-width: 992px) {
  .x992{display:none;}
  .x700{display:block;}

}

@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Happiness-Sans-Title';
  min-width: 1280px;
}