/* 아래에 CSS를 작성해주세요. */
* {
    box-sizing: border-box;
  }
  .box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

  }
  .card_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    position: relative;
    width: 300px;
    height: 400px;

  }
  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin-left: 10px;

  }
  .card-image {
    width: 300px;
    border-radius: 1rem;
    margin-bottom: 20px;
  }

  .title {
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height:1px;
    margin-bottom: 50px;
    letter-spacing: 10%;
  }
  .profile {
    line-height:1px;
    margin-left: 15px;
    letter-spacing: -1px;
    
  }